/* CSS for registration-form */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(37, 33, 34, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background-color: #adf3ed;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(160, 91, 240, 0.637);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    color: #f00;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #f30f0f;
  }
  
  input {
    width: 95%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.5s ease; 
  }
  
  input:hover {
    background-color: #f0f8ff;
    border-color: #e97979;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: rgba(175, 182, 181, 0.938);
    color: rgb(8, 8, 8);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  
  button:hover {
    background-color: #ee0808dc;
    color: #f0f8ff;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    display: none;
  }
  
  